<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OpenWeatherMapApiKey" value ="f3ea5aa6f25e132365191881595663a9"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GlobalWeatherSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="GlobalWeatherSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webservicex.net/globalweather.asmx"
                binding="basicHttpBinding" bindingConfiguration="GlobalWeatherSoap"
                contract="WeatherServiceReference.GlobalWeatherSoap" name="GlobalWeatherSoap" />
            <!--<endpoint address="http://www.webservicex.net/globalweather.asmx"
                binding="customBinding" bindingConfiguration="GlobalWeatherSoap12"
                contract="WeatherServiceReference.GlobalWeatherSoap" name="GlobalWeatherSoap12" />-->
        </client>
    </system.serviceModel>
</configuration>